{% load static %}
<!doctype html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <title>e-Library</title>

  <link href="{% static 'css/line-awesome.css' %}" rel="stylesheet" >
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/datepicker.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap4-toggle.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-multiselect.css' %}" rel="stylesheet">
  <script src="{% static 'js/feather.min.js' %}"></script>
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'js/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery.fileupload.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/datepicker.min.js' %}"></script>
  <script src="{% static 'js/datepicker.pl-PL.min.js' %}"></script>
  <script src="{% static 'js/bootstrap4-toggle.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-multiselect.js' %}"></script>
  <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
  {{ form.media.css }}
</head>
<body>

{% include 'main/navbar_top.html' %}

<div class="container-fluid">
  <div class="row">

    {% include 'main/navbar.html' %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-12">
      {% block content %}

      {% endblock %}

    </main>
  </div>
</div>

<script>feather.replace()</script>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
</body>
</html>
