{% load static %}
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand" style="width:200px; padding-left:10px; " href="#">e-Library</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">{{ request.user }}</a>
    </li>
  </ul>
</nav>