<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">

        <li class="nav-item"><a class="nav-link" href="{% url "author_list" %}"><span data-feather="user"></span>Authors</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "book_list" %}"><span data-feather="book"></span>Books</a></li>
        <li><br></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}"><span data-feather="settings"></span>Admin</a></li>
    </ul>
  </div>
</nav>