{% extends '../main/base.html' %}

{% block content %}
<h1 class="my-4"><small> Authors</small></h1>


<div class="row">
        <div class="col-12" style="margin-bottom:10px">
        <a href="{% url "author_new" %}"><button type="button" class="btn btn-outline-primary btn-sm"><i class="la la-plus-square la-lg"></i> Add author</button></a>
    <br></div>
    
    {% if object_list %}
    <div class="col-12">
        <style>
    table.centered {
        text-align: center;
        }
    </style>
        <table class="table table-sm table-striped table-bordered centered">
            <thead class="thead-dark">
            <tr >
                <th scope="col" style="width:55px">#</th>
                <th scope="col">Name</th>
                <th scope="col">Books</th>
                <th scope="col" style="width:70px"></th>
            </tr>
            </thead>
            <tbody>
            {% for author in object_list %}
            <tr>
                <td scope="row" >{{ author.id }}</td>
                <td>{{ author.name }} {{ author.surname }}</td>
                <td>
                    {% for book in author.authors.all %}
                    <a href="{% url "book_view" book.id %}" >{{ book }}</a>{% if author.authors.all.count > 1 and forloop.counter < author.authors.all.count %}, {%endif%}
                    {% endfor %}
                </td>
                <td>
                    <a href="{% url "author_view" author.id %}"><span data-feather="eye" data-toggle="tooltip" data-placement="left" title="Details"></span></a>
                    <a href="{% url "author_edit" author.id %}"><span data-feather="edit" data-toggle="tooltip" data-placement="left" title="Edit"></span></a>
                    <a href="{% url "author_delete" author.id %}"><span data-feather="x" data-toggle="tooltip" data-placement="left" title="Delete"></span></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="col-6">
        <div class="alert alert-warning" role="alert">No authors!</a>
        </div>
    </div>
    {% endif %}
</div>


{% endblock %}