{% extends '../main/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-4">
            <h1 class="my-4"><small>{{ object.name }} {{ object.surname }}</small></h1>
        </div>
        <div>
            <h1 class="my-4"><a href="{% url "author_edit" object.id %}"><button type="button" class="btn btn-outline-info btn-sm">Edit</button></a></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul class="list-group">
              <li class="list-group-item"><strong>Author:</strong>
                  {{ object.name }} {{ object.surname }}
              </li>
              <li class="list-group-item"><strong>Books:</strong>
                   {% for book in author.books.all %}
                        {{ book }}
                        {% if author.books.all.count > 1 and forloop.counter < author.books.all.count %}, {%endif%}
                 {% endfor %}
              </li>
            </ul>
        </div>
    </div>
{% endblock %}