{% extends '../main/base.html' %}

{% block content %}
    <h1 class="my-4">Deleting author - <small>{{ object.name }} {{ object.surname }}</small></h1>
    <div class="row">
        <div class="col-6">
            <form method="post">
                {% csrf_token %}
                <div class="alert alert-danger" role="alert">
                  Do you want to delete {{ object.name }} {{ object.surname }}?
                </div>
                <input type="submit" class="btn btn-danger" value="Yes" />
                <a class="btn btn-success" href="{% url 'author_list' %}">No</a>
            </form>
        </div>
    </div>
{% endblock %}

