{% extends '../main/base.html' %}
{{ form.media.css }}


{% block content %}
<style type="text/css">
    select {
        width: -webkit-calc(100% - 130px);
        width:    -moz-calc(100% - 130px);
        width:         calc(100% - 130px);
    }

</style>

<h1 class="my-4">
    {% if request.path == '/author/new' %}
    New author
    {% else %}
    Edit -
    {% endif %}

    {% if request.path != '/author/new' %}
    <small>{{ author.name }} {{ author.surname }}</small>
    {% endif %}
</h1>
<div class="row">
    <div class="col-10">
        <form method="post" novalidate>
            {% csrf_token %}


            <div class="form-row">
                <div class="form-group col-md-4">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Name</div>
                        </div>
                        {{ form.name }}
                        {% for error in form.name.errors %}
                        <div class= "invalid-feedback d-block">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>
</div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Surname</div>
                        </div>
                        {{ form.surname }}
                        {% for error in form.surname.errors %}
                        <div class= "invalid-feedback d-block">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="group col-md-8">
                    <br>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend" style="height: 36px">
                            <div class="input-group-text" style="width:130px;">Books</i></div>
                        </div>
                        {{ form.books }}
                        {% for error in form.books.errors %}
                        <div class="invalid-feedback d-block">
                            {{ error }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="group col-md-8">
                    <br>
                    <input type="submit" {% if request.path == '/author/new' %} value="Add" {% else %} value="Update" {% endif %} class="btn btn-success"/>
                </div>
            </div>
        </form>
    </div>
</div>

{{ form.media.js }}

{% endblock %}