{% extends '../main/base.html' %}

{% block content %}
<h1 class="my-4"><small> Books</small></h1>


<div class="row">
    <div class="col-12" style="margin-bottom:10px">
        <a href="{% url "book_new" %}"><button type="button" class="btn btn-outline-primary btn-sm"><i class="la la-plus-square la-lg"></i> Add book</button></a>
    <br></div>

    {% if object_list %}
    <div class="col-12">
        <style>
    table.centered {
        text-align: center;
        }
    </style>
        <table class="table table-sm table-striped table-bordered centered">
            <thead class="thead-dark">
            <tr >
                <th scope="col" style="width:55px">#</th>
                <th scope="col">Name</th>
                <th scope="col">Authors</th>
                <th scope="col" style="width:70px"></th>
            </tr>
            </thead>
            <tbody>
            {% for book in object_list %}
            <tr>
                <td scope="row" >{{ book.id }}</td>
                <td>{{ book.name }}</td>
                <td>
                    ({{ book.authors.all.count }})
                    {% for author in book.authors.all %}
                    <a href="{% url "author_view" author.id %}" >{{ author }}</a>{% if book.authors.all.count > 1 and forloop.counter < book.authors.all.count %}, {%endif%}
                    {% endfor %}
                </td>
                <td>
                    <a href="{% url "book_view" book.id %}"><span data-feather="eye" data-toggle="tooltip" data-placement="left" title="Details"></span></a>
                    <a href="{% url "book_edit" book.id %}"><span data-feather="edit" data-toggle="tooltip" data-placement="left" title="Edit"></span></a>
                    <a href="{% url "book_delete" book.id %}"><span data-feather="x" data-toggle="tooltip" data-placement="left" title="Delete"></span></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="col-6">
        <div class="alert alert-warning" role="alert">No books!</a>
        </div>
    </div>
    {% endif %}
</div>


{% endblock %}