{% extends '../main/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-4">
            <h1 class="my-4"><small>{{ object.name }}</small></h1>
        </div>
        <div>
            <h1 class="my-4"><a href="{% url "book_edit" object.id %}"><button type="button" class="btn btn-outline-info btn-sm">Edit</button></a></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul class="list-group">
              <li class="list-group-item"><strong>Book:</strong>
                  {{ object.name }}
              </li>
              <li class="list-group-item"><strong>Authors:</strong>
                   {% for author in book.authors.all %}
                        {{ author }}
                        {% if author.authors.all.count > 1 and forloop.counter < author.author.all.count %}, {%endif%}
                 {% endfor %}
              </li>
            </ul>
        </div>
    </div>
{% endblock %}